/* General Styles */


* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;    
    font-family: "Roboto", sans-serif;
}

button {
    background-color: #3882f6;
    color: #fff;
    border-style: none;
    border-radius: 10px;
    width: 140px;
    height: 40px;
    font-size: 18px;
}

/* Header Styles */

.header {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    color: #f9faf8;
    padding: 20px;
}

.header-container {
    display: flex;
    width: 1024px;
    justify-content: space-between;
    flex-shrink: 0;
}

.navigation {
    display: flex;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 16px;
    
}

.nav-links a {
    color: #e5e7eb;
    text-decoration: none;
    font-size: 18px;
}



/* Content Styles */

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Hero Section Styles */

.hero-section {
    background-color: #1f2937 ;
    width: 100vw;
    display: flex;
    flex: 1;
    justify-content: center;
}

.hero-container{
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1024px;
}

.hero-text {
    width: 450px;
    color: #f9faf8;
    flex-shrink: 0;
}

.hero-text span {
    font-size: 48px;
    font-weight: 900;
}

.hero-text p {
    color: #e5e7eb;
    font-size: 18px;
}

.signup-button {
    margin-top: 10px;
}

.hero-image {
    width: 475px;
    background-color: grey;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    color: #f9faf8;
}

/* Info Section Styles */

.info-section {
    width: 100vw;
    flex: 1;
    display: flex;
    justify-content: center;
}

.info-container {
    width: 1024px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.info-container span {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.card-child {
    width: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align-last: center;
    font-size: 18px;
    color: #1f2937;
}

.card-img {
    width: 170px;
    height: 170px;
    border: 4px solid #3882f6;
    border-radius: 15px;
}

/* Quote Section Styles */

.quote-section {
    flex: 1;
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-container {
    width: 600px;
    display: flex;
    flex-direction: column;
    margin: 50px;
}

.quote-container p {
    font-size: 26px;
    color: #1f2937;
    font-weight: 300;
    font-style: italic;
}

.quote-container span {
    font-size: 26px;
    font-weight: bold;
    align-self: flex-end;
}

/* Call to Action Section Styles */

.call-to-action {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-subcontainer {
    background-color: #3882f6;
}




/* Footer Styles */

.footer {
    background-color: #1f2937;
    display: flex;
}