/* General Styles */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;    
    font-family: "Roboto", sans-serif;
}

button {
    background-color: #3882f6;
    color: #fff;
    padding: 5px 20px 5px 20px;
    border-style: none;
    border-radius: 6px;
}

/* Header Styles */

.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
    color: #f9faf8;
    padding: 20px;
}

.navigation {
    display: flex;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 16px;
    
}

.nav-links a {
    color: #e5e7eb;
    text-decoration: none;
    font-size: 18px;
}



/* Content Styles */

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero-container{
    background-color: #1f2937;
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}

.hero-text {
    width: 410px;
    color: #f9faf8;
}

.hero-text span {
    font-size: 48px;
    font-weight: 900;
}

.hero-text p {
    color: #e5e7eb;
    font-size: 18px;
}

.signup-button {
    padding-top: 16px;
}

.hero-image {
    width: 478px;
    background-color: grey;
    height: 220px;
}

.info {
    flex: 1;
}

.quote {
    flex: 1;
    background-color: #e5e7eb;
}

.call-to-action {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-subcontainer {
    background-color: #3882f6;
}


/* Footer Styles */

.footer {
    background-color: #1f2937;
    display: flex;
}